*{
    font-family: roboto;
}
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
.header{
    background-color: bisque;
    padding: 15px 60px 10px 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.main{
    background-color: aquamarine;
    grid-row: 2/3;
}
.sidebar{
    background-color: blueviolet;
    grid-row: 1/3;
}
.header-input-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    gap: 30px;
}
.input-container{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}
.input-side-container{
    display: flex;
    gap: 30px;
    justify-content: end;
    align-items: center;
}
.input-side-container>p{
    font-size: 1.15rem;
    font-weight: bold;
    margin: 0;
}
input[type="text"]{
    border-radius:30px;
    border: none;
    height: 26px;
    outline-color: antiquewhite;
}
.profile-image{
    border-radius: 50%;
}
.header-profile-left{
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
}
.header-profile-left>.profile-image{
    grid-row: 1/3;
}
.header-profile-left>p{
    margin: 0;
}

.header-profile-left>*:nth-child(2){
    font-size: 0.9rem;
    align-self:flex-end;
}
.header-profile-left>*:nth-child(3){
    font-size: 1.4rem;
    font-weight: bold;
}
.header-profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.header-profile-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-self: end;
}
.header-profile-right>button{
    padding: 8px 14px;
    border-radius: 30px;
    border: none;
    font-size: 0.97rem;
    color: white;
    background-color: blue;
    font-weight: 800;

}
.main{
    padding: 20px;
    padding-top: 3px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}
.main-left-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.main-left-children{
    background-color: white;
    padding: 20px 20px 20px 40px;
    min-height: 200px;
    border-radius: 10px;
    border-left: 8px solid orange;
    display: grid;
}
.icons{
    align-self: flex-end;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-content: end;
    gap: 20px;
}
.announcement-children{
    /* background-color: white; */
    font-size: 0.8rem;
}
.announcement-children>div{
    margin-bottom: 20px;
}
.announcement-container{
    padding:40px 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}
h4{
    margin: 0;
}
.trending-child{
    display: grid;
    grid-template-columns: 60px 1fr;
    /* gap: 20px; */
}
.trending-child>img{
    grid-row: 1/3;
    align-self: center;
}
.trending-child>*{
    margin: 0;
}
.trending-container{
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}
h2{
    margin: 10px;
}